

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #F3F0EC;
    height: 400px;
}

.salom p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

} 
.salom h4{
font-weight: 400;
font-size: 15px;
line-height: 24px;
letter-spacing: 1.28px;
margin-bottom: 10px;
color: black;
}