nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
ul{
    display: flex;
    gap: 36px;
    list-style: none;
}
header{
    padding: 20px;
    display: flex;
    background-color: #FBF8F5;
}
ul a{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}