

.sec7{
    width: 100%;
    height: 600px;
    background-color: #F6CFCA;
    text-align: center;
   margin-bottom: 100px;
    
}
.sec7 h1{
font-weight: 400;
font-size: 88px;
line-height: 100px;
letter-spacing: 0%;
text-align: center;
padding-top: 30px;
padding-bottom: 80px;

}