

.sec5 {
    width: 448px;
height: 343px;
text-align: center;
align-content: center;
background-color: #E9672B;
}
.sec55{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
}

.sec5 h3{
    color: white;
}
.sec5 h2{
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: white;
margin-top: 10px;
margin-bottom: 20px;

}
.sec5 button{
    width: 272px;
height: 60px;
border-radius: 88px;
border: none;


font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;

}